{% extends "base.html" %}

{% block extrahead %}
<meta name="ahrefs-site-verification" content="b13556bca44be7ae858f67ddbdd71eaa177d9389a88eb295244299a87292d60a">
{% endblock %}

{% block htmltitle %}

{% if page.meta and page.meta.title %}
<title>{{ page.meta.title }} | {{ config.site_name }} </title>
{% elif page.title and not page.is_homepage %}
<title>{{ page.title | striptags }} | {{ config.site_name }}  </title>
{% else %}
<title>{{ config.site_name }}</title>
{% endif %}

{% endblock %}

{% block libs %}
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K86VCV3');</script>
	<!-- End Google Tag Manager -->

	<script>


	</script>

	<!-- Plausible analytics -->
	<script defer {% if page.meta and page.meta.contentType %}event-content_type="{{ page.meta.contentType }}"{% endif %} data-domain="docs.n8n.io" src="https://plausible.io/js/script.pageview-props.js"></script>
	
	<script>
		window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) };
		document.addEventListener("DOMContentLoaded", function () {
			/* Set up search tracking */
			if (document.forms.search) {				
				//var query = document.forms.search.query;		
				document.forms.search.addEventListener("click", function() {
					plausible("search");
					//if (this.value && this.value.length > 3) { plausible("search", { props: { search_term: this.value } })};
				})
			}
		});
	</script>

{% endblock %}

{% block announce %}
  LangChain is now available in n8n. Build AI functionality using <a href="https://docs.n8n.io/langchain/langchain-n8n/">n8n's LangChain nodes</a>.
{% endblock %}

{% block container %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K86VCV3"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ super() }}


{% endblock %}
