{% extends "base.html" %}

{% block extrahead %}
<!-- Matomo Tag Manager -->
<script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='https://cdn.matomo.cloud/n8n.matomo.cloud/container_V5geRwlT.js'; s.parentNode.insertBefore(g,s);
    </script>
    <!-- End Matomo Tag Manager -->
{% endblock %}

  
{% block announce %}
    {% if section and section.title == "Embed" %}
        Section is {{ section.title }}. n8n Embed requires a license. <a href="https://n8n-community.typeform.com/to/qOBgyWWA" target="_blank">Contact n8n</a> for more information.
    {% endif %}
{% endblock %}
