<div id="subFooter" class="sub-footer">
	<div class="sub-footer-container">
		<div class="footer-columns">
			<div>
				<div class="column-name">Popular integrations</div>
				<ul class="col-links">
					<li>
						<a href="https://n8n.io/integrations/google-sheets/" class="footer-link" target="_blank"> Google
							Sheets </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/telegram/" class="footer-link" target="_blank"> Telegram
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/mysql/" class="footer-link" target="_blank"> MySQL </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/slack/" class="footer-link" target="_blank"> Slack </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/discord/" class="footer-link" target="_blank"> Discord </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/postgres/" class="footer-link" target="_blank"> Postgres
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/notion/" class="footer-link" target="_blank"> Notion </a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/gmail/" class="footer-link" target="_blank"> Gmail </a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/airtable/" class="footer-link" target="_blank"> Airtable
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/google-drive/" class="footer-link" target="_blank"> Google
							Drive </a>
					</li>
				</ul>
				<div class="bottom-link hidden-link">
					<a href="https://n8n.io/integrations/" class="footer-link" target="_blank">
						Show more integrations
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="7px"
							height="7px">
							<g clip-path="url(#a)">
								<path fill="#111010" fill-rule="evenodd"
									d="M7.678 1.36H.481V0H10v9.52H8.64v-7.2L.962 10 0 9.038 7.678 1.36Z"
									clip-rule="evenodd"></path>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h10v10H0z"></path>
								</clipPath>
							</defs>
						</svg>
					</a>
				</div>
				<button type="button" class="footer-link footer-link--more"
					onclick="document.getElementById('subFooter').classList.toggle('sub-footer--full')"></button>
			</div>
			<div>
				<div class="column-name">Trending combinations</div>
				<ul class="col-links">
					<li>
						<a href="https://n8n.io/integrations/hubspot/and/salesforce/" class="footer-link"
							target="_blank">
							HubSpot and Salesforce
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/twilio/and/whatsapp-business-cloud/" class="footer-link"
							target="_blank">
							Twilio and WhatsApp
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/github/and/jira-software/" class="footer-link"
							target="_blank">
							GitHub and Jira
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/asana/and/slack/" class="footer-link" target="_blank">
							Asana and Slack </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/asana/and/salesforce/" class="footer-link" target="_blank">
							Asana and Salesforce
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/jira-software/and/slack/" class="footer-link"
							target="_blank">
							Jira and Slack
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/jira-software/and/salesforce/" class="footer-link"
							target="_blank">
							Jira and Salesforce
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/github/and/slack/" class="footer-link" target="_blank">
							GitHub and Slack </a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/hubspot/and/quickbooks-online/" class="footer-link"
							target="_blank">
							HubSpot and QuickBooks
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/hubspot/and/slack/" class="footer-link" target="_blank">
							HubSpot and Slack </a>
					</li>
				</ul>
				<div class="bottom-link hidden-link">
					<a href="https://n8n.io/integrations/" class="footer-link" target="_blank">
						Show more integrations
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="7px"
							height="7px">
							<g clip-path="url(#a)">
								<path fill="#111010" fill-rule="evenodd"
									d="M7.678 1.36H.481V0H10v9.52H8.64v-7.2L.962 10 0 9.038 7.678 1.36Z"
									clip-rule="evenodd"></path>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h10v10H0z"></path>
								</clipPath>
							</defs>
						</svg>
					</a>
				</div>
				<button type="button" class="footer-link footer-link--more"
					onclick="document.getElementById('subFooter').classList.toggle('sub-footer--full')"></button>
			</div>
			<div>
				<div class="column-name">Top integration categories</div>
				<ul class="col-links">
					<li>
						<a href="https://n8n.io/integrations/categories/development/" class="footer-link"
							target="_blank"> Development </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/categories/communication/" class="footer-link"
							target="_blank">
							Communication
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/categories/langchain/" class="footer-link" target="_blank">
							Langchain </a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/categories/ai/" class="footer-link" target="_blank"> AI
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/categories/data-and-storage/" class="footer-link"
							target="_blank">
							Data &amp; Storage
						</a>
					</li>
					<li>
						<a href="https://n8n.io/integrations/categories/marketing/" class="footer-link" target="_blank">
							Marketing </a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/categories/productivity/" class="footer-link"
							target="_blank">
							Productivity
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/categories/sales/" class="footer-link" target="_blank">
							Sales </a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/categories/utility/" class="footer-link" target="_blank">
							Utility </a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/integrations/categories/miscellaneous/" class="footer-link"
							target="_blank">
							Miscellaneous
						</a>
					</li>
				</ul>
				<div class="bottom-link hidden-link">
					<a href="https://n8n.io/integrations/" class="footer-link" target="_blank">
						Explore more categories
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="7px"
							height="7px">
							<g clip-path="url(#a)">
								<path fill="#111010" fill-rule="evenodd"
									d="M7.678 1.36H.481V0H10v9.52H8.64v-7.2L.962 10 0 9.038 7.678 1.36Z"
									clip-rule="evenodd"></path>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h10v10H0z"></path>
								</clipPath>
							</defs>
						</svg>
					</a>
				</div>
				<button type="button" class="footer-link footer-link--more"
					onclick="document.getElementById('subFooter').classList.toggle('sub-footer--full')"></button>
			</div>
			<div>
				<div class="column-name">Trending templates</div>
				<ul class="col-links">
					<li>
						<a href="https://n8n.io/workflows/1750-creating-an-api-endpoint/" class="footer-link"
							target="_blank">
							Creating an API endpoint
						</a>
					</li>
					<li>
						<a href="https://n8n.io/workflows/1954-ai-agent-chat/" class="footer-link" target="_blank">
							AI agent chat
						</a>
					</li>
					<li>
						<a href="https://n8n.io/workflows/1951-scrape-and-summarize-webpages-with-ai/"
							class="footer-link" target="_blank">
							Scrape and summarize webpages with AI
						</a>
					</li>
					<li>
						<a href="https://n8n.io/workflows/1700-very-quick-quickstart/" class="footer-link"
							target="_blank">
							Very quick quickstart
						</a>
					</li>
					<li>
						<a href="https://n8n.io/workflows/1748-pulling-data-from-services-that-n8n-doesnt-have-a-pre-built-integration-for/"
							class="footer-link" target="_blank">
							Pulling data from services that n8n doesn’t have a pre-built integration for
						</a>
					</li>
					<li>
						<a href="https://n8n.io/workflows/1747-joining-different-datasets/" class="footer-link"
							target="_blank">
							Joining different datasets
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/workflows/1534-back-up-your-n8n-workflows-to-github/"
							class="footer-link" target="_blank">
							Back Up Your n8n Workflows To Github
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/workflows/1862-openai-gpt-3-company-enrichment-from-website-content/"
							class="footer-link" target="_blank">
							OpenAI GPT-3: Company Enrichment from website content
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/workflows/2006-ai-agent-that-can-scrape-webpages/" class="footer-link"
							target="_blank">
							AI agent that can scrape webpages
						</a>
					</li>
					<li class="hidden-link">
						<a href="https://n8n.io/workflows/1435-convert-json-to-an-excel-file/" class="footer-link"
							target="_blank">
							Convert JSON to an Excel file
						</a>
					</li>
				</ul>
				<div class="bottom-link hidden-link">
					<a href="https://n8n.io/workflows/" class="footer-link" target="_blank">
						Explore 800+ workflow templates
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="7px"
							height="7px">
							<g clip-path="url(#a)">
								<path fill="#111010" fill-rule="evenodd"
									d="M7.678 1.36H.481V0H10v9.52H8.64v-7.2L.962 10 0 9.038 7.678 1.36Z"
									clip-rule="evenodd"></path>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h10v10H0z"></path>
								</clipPath>
							</defs>
						</svg>
					</a>
				</div>
				<button type="button" class="footer-link footer-link--more"
					onclick="document.getElementById('subFooter').classList.toggle('sub-footer--full')"></button>
			</div>
			<div>
				<div class="column-name">Top guides</div>
				<ul class="col-links">
					<li>
						<a href="https://blog.n8n.io/telegram-bots/" class="footer-link" target="_blank"> Telegram bots
						</a>
					</li>
					<li>
						<a href="https://blog.n8n.io/open-source-chatbot/" class="footer-link" target="_blank">
							Open-source chatbot </a>
					</li>
					<li>
						<a href="https://blog.n8n.io/open-source-llm/" class="footer-link" target="_blank"> Open-source
							LLM </a>
					</li>
					<li>
						<a href="https://blog.n8n.io/open-source-low-code-platforms/" class="footer-link"
							target="_blank"> Open-source low-code platforms </a>
					</li>
					<li>
						<a href="https://blog.n8n.io/free-zapier-alternatives/" class="footer-link" target="_blank">
							Zapier alternatives </a>
					</li>
					<li>
						<a href="https://blog.n8n.io/make-vs-zapier/" class="footer-link" target="_blank"> Make vs
							Zapier </a>
					</li>
					<li class="hidden-link">
						<a href="https://blog.n8n.io/ai-agents/" class="footer-link" target="_blank"> AI agents </a>
					</li>
					<li class="hidden-link">
						<a href="https://blog.n8n.io/ai-coding-assistants/" class="footer-link" target="_blank"> AI
							coding assistants </a>
					</li>
					<li class="hidden-link">
						<a href="https://blog.n8n.io/create-chatgpt-discord-bot/" class="footer-link" target="_blank">
							ChatGPT Discord bot </a>
					</li>
					<li class="hidden-link">
						<a href="https://blog.n8n.io/best-ai-chatbot/" class="footer-link" target="_blank"> Best AI
							chatbot </a>
					</li>
				</ul>
				<div class="bottom-link hidden-link">
					<a href="https://blog.n8n.io/" class="footer-link" target="_blank">
						Show guides
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="7px"
							height="7px">
							<g clip-path="url(#a)">
								<path fill="#111010" fill-rule="evenodd"
									d="M7.678 1.36H.481V0H10v9.52H8.64v-7.2L.962 10 0 9.038 7.678 1.36Z"
									clip-rule="evenodd"></path>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h10v10H0z"></path>
								</clipPath>
							</defs>
						</svg>
					</a>
				</div>
				<button type="button" class="footer-link footer-link--more"
					onclick="document.getElementById('subFooter').classList.toggle('sub-footer--full')"></button>
			</div>
		</div>
	</div>
</div>