@font-face {
	font-family: "Moderat-Regular-Web";
	src: url("./Moderat-Regular-Web/Moderat-Regular.woff");
  }
  @font-face {
	font-family: "Moderat-Regular-Web";
	src: url("./Moderat-Bold-Web/Moderat-Bold.woff");
	font-weight: bold;
  }
  @font-face {
	font-family: "Moderat-Regular-Web";
	src: url("./Moderat-Regular-Italic-Web/Moderat-Regular-Italic.woff");
	font-style: italic;
  }
  
  
  :root {
	--color-primary: hsl(170, 69%, 35%);
	--color-primary-shade-1: hsl(170, 69%, 30%);
	--color-text-base: #58585F; 
	--color-text-dark: #555555;
	--color-background-base: #f2f4f8;
	--color-background-dark: #40425E;
	--color-background-darker: hsl( 240, 4.2%, 14% );
	--color-background-light: #f2f4f8;
	--color-foreground-base: #dbdfe7;
  
  
	/* https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts/?h=font#additional-fonts */
	--md-text-font: "Moderat-Regular-Web";
  /* https://squidfunk.github.io/mkdocs-material/reference/admonitions/#custom-admonitions */
  --md-admonition-icon--details: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16 6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5Z"/></svg>');
  }
  
  
  
  /* https://squidfunk.github.io/mkdocs-material/reference/admonitions/#custom-admonitions */
  .md-typeset .admonition.details,
  .md-typeset details.details {
  border-color: var(--color-background-dark);
  }
  .md-typeset .details > .admonition-title,
  .md-typeset .details > summary {
  background-color: rgba(16,19,48, 0.1);
  }
  .md-typeset .details > .admonition-title::before,
  .md-typeset .details> summary::before {
  background-color: rgb(16,19,48);
  -webkit-mask-image: var(--md-admonition-icon--details);
	  mask-image: var(--md-admonition-icon--details);
  }
  
  
  
  
  /* light mode */
  
  [data-md-color-scheme="light"] {
  --md-default-fg-color--light: var(--color-text-dark);
  --md-typeset-color: var(--color-text-base);
  --md-typeset-a-color: var(--color-primary);
  --md-accent-fg-color: var(--color-primary-shade-1);
  --md-footer-bg-color: var(--color-background-base);
  --md-footer-fg-color: var(--color-text-base);
  --md-footer-bg-color--dark: var(--color-background-dark);
  --md-primary-bg-color: var(--color-text-dark);
  --md-primary-fg-color: var(--color-background-dark);
  }
  
  [data-md-color-scheme="light"] .md-tabs__link--active {
	font-weight: 600;
  }
  
  [data-md-color-scheme="light"] .md-header[data-md-state=shadow] {
	box-shadow: none;
  }
  
  [data-md-color-scheme="light"] .md-typeset h1, .md-typeset h2, .md-typeset h3 {
	font-weight: 600;
  }
  
  [data-md-color-scheme="light"] .md-header{
	box-shadow: none;
	background-color: var(--color-background-dark);
	color: white;
  }
  [data-md-color-scheme="light"] .md-tabs{
	background-color: var(--color-background-dark);
	color: white; 
  }
  
  [data-md-color-scheme="light"] .md-search__input {
	border: 1px solid var(--color-foreground-base);
	background-color: white;
  color: var(--color-text-dark);
  } 
  
  [data-md-color-scheme="light"] .md-search__input::placeholder {
	color: var(--color-text-dark);
	opacity: 1;
  }
  
  .md-banner {
  background-color: black;
  color: var(--md-footer-fg-color--light);
  }

	.md-footer {
		border-top: 1px solid var(--color-background-dark);
	}
  
  .md-typeset {
	font-size: 0.9rem;
  }
  
  .md-nav {
	font-size: 0.8rem;
  }
  
  .md-tabs__link {
	font-size: 0.8rem;
  }
  
  /* Ensure manage settings button is visible */
  .md-typeset .md-consent__controls .md-button {
	background-color: var(--md-primary-fg-color);
	border-color: var(--md-primary-fg-color);
	color: var(--color-background-light);
  }
  
  
  /* new features box on release notes */ 
  
  .n8n-new-features {
	background-color: var(--color-background-light);
	border: 1px solid var(--color-foreground-base);
	padding: 1em;
  }
  
  .n8n-new-features p {
  margin: 0;
  }
  
  .n8n-new-features > h4 {
	margin-top: 0;
  }
  
  .n8n-new-features + .n8n-new-features {
	margin-top: 1em;
  }
  
/* additional links in footer */

.n8n-footer-links {
	border-bottom: 1px solid var(--md-footer-fg-color--light);
	display: flex;
	justify-content: space-between;
	margin: auto .6rem;
    padding: .4rem 0;
}

.n8n-footer-links > strong {
	color: var(--md-footer-fg-color--light);
}

.md-footer-meta__inner {
	flex-direction: column;
}

  /* preserve the logo and site title on page scroll */
  
  .md-header__topic:first-child {
	font-weight: 500;
  }
  
  .md-header__topic, .md-header__topic+.md-header__topic, .md-header__title--active .md-header__topic {
	transform: none;
	transition: none;
	opacity: 1;
  }
  
  /* better table behaviour */
  
  .md-typeset table:not([class]) td:first-of-type {
	white-space: pre;
  }
  
  /* bigger font in table */
  .table-without-whitespace-pre td:first-of-type {
  white-space: unset;
  }
  
  .md-typeset table:not([class]) {
  font-size: 0.75rem
  }

  /* display tables at full width */
  .md-typeset__table {
    width: 100%;
  }
  
  .md-typeset__table table:not([class]) {
    display: table
  }
  
  /* img borders */
  
  .md-typeset img, .md-typeset svg, .md-typeset video {
  border: 1px solid #DBDFE7;
  border-radius: 4px;
  }
  
  .md-typeset :is(.emojione,.twemoji,.gemoji) svg {
  border: 0;
  }

  button:nth-child(1) > svg, button:nth-child(2) > svg
  {
	border: 0;
  }

  .md-content__button > svg {
	border: 0;
  }

  /* remove lightbox controls so users can't slideshow */
  .gnext, .gprev {
	display: none !important;
  }
  
  /* reduce padding between title and breadcrumbs */
  
  .md-content__inner {
  padding-top: 0;
  }

	.md-status--beta::after {
		background-color: var(--color-text-base);
		border-radius: 0.2rem;
		color: white;
		content: "beta";
		font-size: 0.5rem;
		height: auto;		
		padding: 0.1rem 0.2rem;
		-webkit-mask-image: none;
		width: auto;
	}
  

	.md-status:hover:after {
    background-color: var(--color-text-base);
  } 

/* better left nav spacing */

.md-nav__item--section {
	margin-top: 1.75em;
}

/* The tab links for other n8n sites */

.n8n-other-sites {
	display: flex;
	justify-content: space-between;
}


/* ensure headings don't disappear below top nav after adding extra top nav */
@media screen and (min-width: 76.25em) {
	.md-header--lifted~.md-container .md-typeset :target {
		--md-scroll-margin: 9rem;
	}
}

/* feedback widget in TOC */

.md-feedback {
	margin-top: 1em;
}

.md-feedback__title {
	
	border-top: 1px solid var(--color-foreground-base);
	font-size: 0.8rem;
	font-weight: normal;
	margin-left: 0.6rem;
	padding-top: 0.5rem;
	text-align: left;
}

.md-feedback__inner {
	width: 80%;
}



  /* dark mode */  
  /* [data-md-color-scheme="dark"] .md-header{
	box-shadow: none;
	background-color: var(--color-background-darker);
  }
  [data-md-color-scheme="dark"] .md-tabs{
	background-color: var(--color-background-darker);
  }
  
  [data-md-color-scheme="dark"] {
	--md-primary-fg-color: var(--color-grey-900);
	--md-default-bg-color: var(--color-background-dark);
	--md-default-fg-color--light: var(--color-green);
	--md-typeset-color: #eaeaea;
	--md-typeset-a-color: var(--color-primary);
	--md-accent-fg-color: var(--color-primary-shade-1);
	--md-admonition-fg-color: #eaeaea; 
	--md-typeset-table-color: #eaeaea;
	--md-code-bg-color: var(--color-background-light);
  }
  
  [data-md-color-scheme="dark"] .md-header {
	box-shadow: none;
  }
  
  [data-md-color-scheme="dark"] .highlighttable .linenodiv pre {
	color: var(--color-text-base);
  }
  */
  /* search */
  /*
  [data-md-color-scheme="dark"] [data-md-toggle=search]:checked~.md-header .md-search__form {
	background-color: var(--color-background-base);
  }
  
  [data-md-color-scheme="dark"] .md-search__scrollwrap {
	background-color: var(--color-background-base);
  }
  
  [data-md-color-scheme="dark"] .md-nav--secondary {
	border-left: 1px solid var(--color-primary);
  } */
  
  code {
  tab-size: 2;
  }
  
  /* n8n classes */
  
  .inline-image {
	display:inline-block;
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
  }
  
  .inline-image > img {
  border: none;
  }
  
  .grid-cards-vertical {
  grid-gap: .4rem;
  display: grid;
  grid-template-columns: none;
  margin: 1em 0;
  }
  
  .grid-cards-vertical.cards>:-webkit-any(ul,ol) {
	display: contents;
  }
  
  .grid-cards-vertical.cards>:is(ul,ol)>li {
  display: block;
  }
  