node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
.env
.vscode
.idea

venv
env
site
__pycache__/

## Ignore pyenv configuration
.python-version

## Ignore ephemeral doc-tool output
output.csv
_doctools/*.csv
