{% extends "main.html" %}
{% block htmltitle %}
<title>404</title>
{% endblock %}
{% block extrahead %}
<script>
    // Create an object containing all your redirects
    const redirects = {


			// Use _redirects file to set redirects

    };

    (function redirect(){
        
            const currentPath = window.location.pathname + (window.location.hash ? window.location.hash : '');
            const redirectUrl = redirects[currentPath];
            if (redirectUrl) {
                window.location.href = `${window.location.origin}${redirectUrl}`;
                return;
            }
          
    })();	
  
</script>
{% endblock %}
{% block content %}
  <h1>404 - Page not found</h1>
  <h2>Go <a href="/">home</a></h2>
{% endblock %}
