{% extends "main.html" %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .md-content__button {
    position: absolute;
    right: 4px;
    top: 50px;
    z-index: 1;
  }

  .md-typeset svg {
    border: none;
  }

  .md-main__inner  {
      width: 100%;
      margin-top: 0;
  }

  .md-typeset .grid {
    grid-gap: 0;
    margin: 0;
  }

  .md-content__inner {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .md-content__inner > p {
    margin: 0;
  }

  .md-content__inner:before {
    height: 0;
  }

  .md-typeset ol li:last-child, .md-typeset ul li:last-child {
    margin-bottom: invalid;
  }

  [dir=ltr] .md-typeset ol li, [dir=ltr] .md-typeset ul li,
  [dir=ltr] .md-typeset ol, [dir=ltr] .md-typeset ul,
  [dir=ltr] .md-typeset ul li ul {
    margin: 0;
  }

  /* API Reference styles */
  .scalar-api-reference {
    --scalar-custom-header-height: 48px;

    h1,
    h2,
    h3,
    table,
    li,
    kbd {
      all: unset;
    }

    .sidebar-search {
      border-style: solid;
    }

    .section-container {
      padding-right: 4px !important;
    }

    .section-container:has(.show-more) {
      background-color: transparent !important;
    }

	pre {
		margin: 0;
	}

	.scalar-code-block {
		padding: 10px !important;
	}
  }

  .n8n-api-warning {
    background-color: var(--color-background-light);
    font-size: 1.5em;
    padding: 0.25em;
    text-align: center;
  }

  .n8n-api-warning > a {
    color: var(--color-primary);
  }
</style>

{% endblock %}

{% block tabs %}

{{ super() }}


<div class="n8n-api-warning">Using the playground to test API calls uses real data, and sends it through Scalar's proxy server. Refer to <a href="https://docs.n8n.io/api/using-api-playground/">Using an API playground</a> for more information.</div>




{% endblock %}

{% block content %}

<!-- Markdown content -->
{{ page.content }}


{% endblock %}
